# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Production build output
dist/
build/

# Local Environment Variables
.env*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Unneeded assets uploaded to Cloudinary
public/madam.png

# Editor & System Files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/

# Scratch & build caches
scratch/
tsconfig.tsbuildinfo
